In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
%matplotlib inline
import glob

In [16]:
os.getcwd()

'C:\\Users\\PRECIOUS\\Videos'

In [17]:
os.chdir('/Users/PRECIOUS/Videos')

In [18]:
os.getcwd()

'C:\\Users\\PRECIOUS\\Videos'

In [19]:
os.mkdir('okor')

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'okor'

In [20]:
data = pd.read_csv('/Users/PRECIOUS/Videos/okoko/we.csv')
data

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
data.columns

Index(['year', 'artist.inverted', 'track', 'time', 'genre', 'date.entered',
       'date.peaked', 'x1st.week', 'x2nd.week', 'x3rd.week', 'x4th.week',
       'x5th.week', 'x6th.week', 'x7th.week', 'x8th.week', 'x9th.week',
       'x10th.week', 'x11th.week', 'x12th.week', 'x13th.week', 'x14th.week',
       'x15th.week', 'x16th.week', 'x17th.week', 'x18th.week', 'x19th.week',
       'x20th.week', 'x21st.week', 'x22nd.week', 'x23rd.week', 'x24th.week',
       'x25th.week', 'x26th.week', 'x27th.week', 'x28th.week', 'x29th.week',
       'x30th.week', 'x31st.week', 'x32nd.week', 'x33rd.week', 'x34th.week',
       'x35th.week', 'x36th.week', 'x37th.week', 'x38th.week', 'x39th.week',
       'x40th.week', 'x41st.week', 'x42nd.week', 'x43rd.week', 'x44th.week',
       'x45th.week', 'x46th.week', 'x47th.week', 'x48th.week', 'x49th.week',
       'x50th.week', 'x51st.week', 'x52nd.week', 'x53rd.week', 'x54th.week',
       'x55th.week', 'x56th.week', 'x57th.week', 'x58th.week', 'x59th.week',
       'x60th.week', 'x61st.week', 'x62nd.week', 'x63rd.week', 'x64th.week',
       'x65th.week', 'x66th.week', 'x67th.week', 'x68th.week', 'x69th.week',
       'x70th.week', 'x71st.week', 'x72nd.week', 'x73rd.week', 'x74th.week',
       'x75th.week', 'x76th.week'],
      dtype='object')

In [22]:
smalldata = data[['artist.inverted', 'track', 'time', 'date.entered',
        'x1st.week', 'x2nd.week', 'x3rd.week',]]
smalldata

,artist.inverted,track,time,date.entered,x1st.week,x2nd.week,x3rd.week
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,78,63.0,49.0
1,Santana,"Maria, Maria",4:18,2000-02-12,15,8.0,6.0
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,71,48.0,43.0
3,Madonna,Music,3:45,2000-08-12,41,23.0,18.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,57,47.0,45.0
...,...,...,...,...,...,...,...
312,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,98,NaN,NaN
313,"Smith, Will",Freakin' It,3:58,2000-02-12,99,99.0,99.0
314,Zombie Nation,Kernkraft 400,3:30,2000-09-02,99,99.0,NaN
315,"Eastsidaz, The",Got Beef,3:58,2000-07-01,99,99.0,NaN
316,Fragma,Toca's Miracle,3:22,2000-10-28,99,NaN,NaN

In [23]:
smalldata.columns=['artist', 'track', 'time', 'date.entered',
       'wk1', 'wk2', 'wk3']

In [24]:
smalldata

,artist,track,time,date.entered,wk1,wk2,wk3
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,78,63.0,49.0
1,Santana,"Maria, Maria",4:18,2000-02-12,15,8.0,6.0
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,71,48.0,43.0
3,Madonna,Music,3:45,2000-08-12,41,23.0,18.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,57,47.0,45.0
...,...,...,...,...,...,...,...
312,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,98,NaN,NaN
313,"Smith, Will",Freakin' It,3:58,2000-02-12,99,99.0,99.0
314,Zombie Nation,Kernkraft 400,3:30,2000-09-02,99,99.0,NaN
315,"Eastsidaz, The",Got Beef,3:58,2000-07-01,99,99.0,NaN
316,Fragma,Toca's Miracle,3:22,2000-10-28,99,NaN,NaN

In [25]:
smelt= smalldata.melt(['artist', 'track', 'time', 'date.entered'], ['wk1', 'wk2', 'wk3'], 'weeks','rate' )
smelt

,artist,track,time,date.entered,weeks,rate
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,wk1,78.0
1,Santana,"Maria, Maria",4:18,2000-02-12,wk1,15.0
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,wk1,71.0
3,Madonna,Music,3:45,2000-08-12,wk1,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,wk1,57.0
...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,wk3,NaN
947,"Smith, Will",Freakin' It,3:58,2000-02-12,wk3,99.0
948,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk3,NaN
949,"Eastsidaz, The",Got Beef,3:58,2000-07-01,wk3,NaN
950,Fragma,Toca's Miracle,3:22,2000-10-28,wk3,NaN

In [26]:
smelt.head()

,artist,track,time,date.entered,weeks,rate
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,wk1,78.0
1,Santana,"Maria, Maria",4:18,2000-02-12,wk1,15.0
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,wk1,71.0
3,Madonna,Music,3:45,2000-08-12,wk1,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,wk1,57.0

In [27]:
smelt['w'] = smelt['weeks'].str.slice(2)

In [28]:
#smelt.drop(['weeks'], axis=1)

In [29]:
smelt['w'] = smelt['weeks'].apply (lambda x : int(x[2]))

In [30]:
smelt

,artist,track,time,date.entered,weeks,rate,w
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,wk1,78.0,1
1,Santana,"Maria, Maria",4:18,2000-02-12,wk1,15.0,1
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,wk1,71.0,1
3,Madonna,Music,3:45,2000-08-12,wk1,41.0,1
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,wk1,57.0,1
...,...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,wk3,NaN,3
947,"Smith, Will",Freakin' It,3:58,2000-02-12,wk3,99.0,3
948,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk3,NaN,3
949,"Eastsidaz, The",Got Beef,3:58,2000-07-01,wk3,NaN,3
950,Fragma,Toca's Miracle,3:22,2000-10-28,wk3,NaN,3

In [32]:
smelt['date.entered']= pd.to_datetime(smelt['date.entered'])
smelt

,artist,track,time,date.entered,weeks,rate,w
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,wk1,78.0,1
1,Santana,"Maria, Maria",4:18,2000-02-12,wk1,15.0,1
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,wk1,71.0,1
3,Madonna,Music,3:45,2000-08-12,wk1,41.0,1
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,wk1,57.0,1
...,...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,wk3,NaN,3
947,"Smith, Will",Freakin' It,3:58,2000-02-12,wk3,99.0,3
948,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk3,NaN,3
949,"Eastsidaz, The",Got Beef,3:58,2000-07-01,wk3,NaN,3
950,Fragma,Toca's Miracle,3:22,2000-10-28,wk3,NaN,3

In [35]:
smelt['date.entered'][0]+pd.to_timedelta('7days')
smelt

,artist,track,time,date.entered,weeks,rate,w,date
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,wk1,78.0,1,2000-09-23
1,Santana,"Maria, Maria",4:18,2000-02-12,wk1,15.0,1,2000-02-12
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,wk1,71.0,1,1999-10-23
3,Madonna,Music,3:45,2000-08-12,wk1,41.0,1,2000-08-12
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,wk1,57.0,1,2000-08-05
...,...,...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,wk3,NaN,3,2000-08-05
947,"Smith, Will",Freakin' It,3:58,2000-02-12,wk3,99.0,3,2000-02-12
948,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk3,NaN,3,2000-09-02
949,"Eastsidaz, The",Got Beef,3:58,2000-07-01,wk3,NaN,3,2000-07-01
950,Fragma,Toca's Miracle,3:22,2000-10-28,wk3,NaN,3,2000-10-28

In [34]:
smelt['date']=smelt['date.entered'] +pd.to_timedelta('0days')*(smelt['w'])
smelt

,artist,track,time,date.entered,weeks,rate,w,date
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,wk1,78.0,1,2000-09-23
1,Santana,"Maria, Maria",4:18,2000-02-12,wk1,15.0,1,2000-02-12
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,wk1,71.0,1,1999-10-23
3,Madonna,Music,3:45,2000-08-12,wk1,41.0,1,2000-08-12
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,wk1,57.0,1,2000-08-05
...,...,...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,wk3,NaN,3,2000-08-05
947,"Smith, Will",Freakin' It,3:58,2000-02-12,wk3,99.0,3,2000-02-12
948,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk3,NaN,3,2000-09-02
949,"Eastsidaz, The",Got Beef,3:58,2000-07-01,wk3,NaN,3,2000-07-01
950,Fragma,Toca's Miracle,3:22,2000-10-28,wk3,NaN,3,2000-10-28

In [72]:
smelt.drop(['date.entered'], axis = 1, inplace = True)
smelt

,artist,track,time,weeks,rate,w,date
0,Destiny's Child,Independent Women Part I,3:38,wk1,78.0,1,2000-09-23
1,Santana,"Maria, Maria",4:18,wk1,15.0,1,2000-02-12
2,Savage Garden,I Knew I Loved You,4:07,wk1,71.0,1,1999-10-23
3,Madonna,Music,3:45,wk1,41.0,1,2000-08-12
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,wk1,57.0,1,2000-08-05
...,...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,wk3,NaN,3,2000-08-05
947,"Smith, Will",Freakin' It,3:58,wk3,99.0,3,2000-02-12
948,Zombie Nation,Kernkraft 400,3:30,wk3,NaN,3,2000-09-02
949,"Eastsidaz, The",Got Beef,3:58,wk3,NaN,3,2000-07-01
950,Fragma,Toca's Miracle,3:22,wk3,NaN,3,2000-10-28

In [74]:
newdata =smelt

In [75]:
newdata

,artist,track,time,weeks,rate,w,date
0,Destiny's Child,Independent Women Part I,3:38,wk1,78.0,1,2000-09-23
1,Santana,"Maria, Maria",4:18,wk1,15.0,1,2000-02-12
2,Savage Garden,I Knew I Loved You,4:07,wk1,71.0,1,1999-10-23
3,Madonna,Music,3:45,wk1,41.0,1,2000-08-12
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,wk1,57.0,1,2000-08-05
...,...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,wk3,NaN,3,2000-08-05
947,"Smith, Will",Freakin' It,3:58,wk3,99.0,3,2000-02-12
948,Zombie Nation,Kernkraft 400,3:30,wk3,NaN,3,2000-09-02
949,"Eastsidaz, The",Got Beef,3:58,wk3,NaN,3,2000-07-01
950,Fragma,Toca's Miracle,3:22,wk3,NaN,3,2000-10-28

In [80]:
newdata.drop(['weeks'], axis = 1, inplace = True)

In [81]:
newdata.columns

Index(['artist', 'track', 'time', 'rate', 'w', 'date'], dtype='object')

In [94]:
newdata.sort_values(['artist', 'track', 'time'], inplace = True)
newdata

,artist,track,time,rate,w,date
246,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,87.0,1,2000-02-26
563,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,82.0,2,2000-02-26
880,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,72.0,3,2000-02-26
287,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,91.0,1,2000-09-02
604,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,87.0,2,2000-09-02
...,...,...,...,...,...,...
631,Zombie Nation,Kernkraft 400,3:30,99.0,2,2000-09-02
948,Zombie Nation,Kernkraft 400,3:30,NaN,3,2000-09-02
15,matchbox twenty,Bent,4:12,60.0,1,2000-04-29
332,matchbox twenty,Bent,4:12,37.0,2,2000-04-29
649,matchbox twenty,Bent,4:12,29.0,3,2000-04-29

In [89]:
tractdata =newdata[['artist', 'track', 'time']]

In [95]:
tractdata

               artist                                              track  time
246             2 Pac                Baby Don't Cry (Keep Ya Head Up II)  4:22
287           2Ge+her  The Hardest Part Of Breaking Up (Is Getting Ba...  3:15
24       3 Doors Down                                         Kryptonite  3:53
193      3 Doors Down                                              Loser  4:24
69           504 Boyz                                      Wobble Wobble  3:35
..                ...                                                ...   ...
254       Yankee Grey                               Another Nine Minutes  3:10
277  Yearwood, Trisha                                    Real Live Woman  3:55
251   Ying Yang Twins                            Whistle While You Twurk  4:19
314     Zombie Nation                                      Kernkraft 400  3:30
15    matchbox twenty                                               Bent  4:12

[317 rows x 3 columns]

In [96]:
tractdata.drop_duplicates(['artist', 'track', 'time'], inplace =True)
tractdata

C:\Users\PRECIOUS\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

               artist                                              track  time
246             2 Pac                Baby Don't Cry (Keep Ya Head Up II)  4:22
287           2Ge+her  The Hardest Part Of Breaking Up (Is Getting Ba...  3:15
24       3 Doors Down                                         Kryptonite  3:53
193      3 Doors Down                                              Loser  4:24
69           504 Boyz                                      Wobble Wobble  3:35
..                ...                                                ...   ...
254       Yankee Grey                               Another Nine Minutes  3:10
277  Yearwood, Trisha                                    Real Live Woman  3:55
251   Ying Yang Twins                            Whistle While You Twurk  4:19
314     Zombie Nation                                      Kernkraft 400  3:30
15    matchbox twenty                                               Bent  4:12

[317 rows x 3 columns]

In [98]:
tractdata.index.name = 'ID'
tractdata

               artist                                              track  time
ID
246             2 Pac                Baby Don't Cry (Keep Ya Head Up II)  4:22
287           2Ge+her  The Hardest Part Of Breaking Up (Is Getting Ba...  3:15
24       3 Doors Down                                         Kryptonite  3:53
193      3 Doors Down                                              Loser  4:24
69           504 Boyz                                      Wobble Wobble  3:35
..                ...                                                ...   ...
254       Yankee Grey                               Another Nine Minutes  3:10
277  Yearwood, Trisha                                    Real Live Woman  3:55
251   Ying Yang Twins                            Whistle While You Twurk  4:19
314     Zombie Nation                                      Kernkraft 400  3:30
15    matchbox twenty                                               Bent  4:12

[317 rows x 3 columns]

In [100]:
tractdataid = tractdata.reset_index()
tractdataid

,ID,artist,track,time
0,246,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22
1,287,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15
2,24,3 Doors Down,Kryptonite,3:53
3,193,3 Doors Down,Loser,4:24
4,69,504 Boyz,Wobble Wobble,3:35
...,...,...,...,...
312,254,Yankee Grey,Another Nine Minutes,3:10
313,277,"Yearwood, Trisha",Real Live Woman,3:55
314,251,Ying Yang Twins,Whistle While You Twurk,4:19
315,314,Zombie Nation,Kernkraft 400,3:30
316,15,matchbox twenty,Bent,4:12

In [101]:
pd.merge(tractdataid, newdata, on = ['artist', 'track', 'time'])

,ID,artist,track,time,rate,w,date
0,246,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,87.0,1,2000-02-26
1,246,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,82.0,2,2000-02-26
2,246,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,72.0,3,2000-02-26
3,287,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,91.0,1,2000-09-02
4,287,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,87.0,2,2000-09-02
...,...,...,...,...,...,...,...
946,314,Zombie Nation,Kernkraft 400,3:30,99.0,2,2000-09-02
947,314,Zombie Nation,Kernkraft 400,3:30,NaN,3,2000-09-02
948,15,matchbox twenty,Bent,4:12,60.0,1,2000-04-29
949,15,matchbox twenty,Bent,4:12,37.0,2,2000-04-29
950,15,matchbox twenty,Bent,4:12,29.0,3,2000-04-29

In [103]:
cleandata = pd.merge(tractdataid, newdata, on = ['artist', 'track', 'time'])
cleandata

,ID,artist,track,time,rate,w,date
0,246,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,87.0,1,2000-02-26
1,246,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,82.0,2,2000-02-26
2,246,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,72.0,3,2000-02-26
3,287,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,91.0,1,2000-09-02
4,287,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,87.0,2,2000-09-02
...,...,...,...,...,...,...,...
946,314,Zombie Nation,Kernkraft 400,3:30,99.0,2,2000-09-02
947,314,Zombie Nation,Kernkraft 400,3:30,NaN,3,2000-09-02
948,15,matchbox twenty,Bent,4:12,60.0,1,2000-04-29
949,15,matchbox twenty,Bent,4:12,37.0,2,2000-04-29
950,15,matchbox twenty,Bent,4:12,29.0,3,2000-04-29

In [105]:
cleandata.drop_duplicates(['artist', 'track', 'time'], inplace = True)
cleandata

,ID,artist,track,time,rate,w,date
0,246,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,87.0,1,2000-02-26
3,287,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,91.0,1,2000-09-02
6,24,3 Doors Down,Kryptonite,3:53,81.0,1,2000-04-08
9,193,3 Doors Down,Loser,4:24,76.0,1,2000-10-21
12,69,504 Boyz,Wobble Wobble,3:35,57.0,1,2000-04-15
...,...,...,...,...,...,...,...
936,254,Yankee Grey,Another Nine Minutes,3:10,86.0,1,2000-04-29
939,277,"Yearwood, Trisha",Real Live Woman,3:55,85.0,1,2000-04-01
942,251,Ying Yang Twins,Whistle While You Twurk,4:19,95.0,1,2000-03-18
945,314,Zombie Nation,Kernkraft 400,3:30,99.0,1,2000-09-02
948,15,matchbox twenty,Bent,4:12,60.0,1,2000-04-29

In [106]:
cleandata.tail(20)

,ID,artist,track,time,rate,w,date
891,211,Usher,Pop Ya Collar,3:36,68.0,1,2000-11-04
894,165,"Vassar, Phil",Carlene,4:07,75.0,1,2000-03-04
897,138,"Vassar, Phil",Just Another Day In Paradise,3:54,81.0,1,2000-09-30
900,12,Vertical Horizon,Everything You Want,4:01,70.0,1,2000-01-22
903,88,Vertical Horizon,You're A God,3:45,64.0,1,2000-08-26
906,147,Vitamin C,Graduation (Friends Forever),4:23,81.0,1,2000-04-15
909,167,Vitamin C,The Itch,3:30,86.0,1,2000-12-02
912,252,"Walker, Clay","Live, Laugh, Love",4:06,95.0,1,1999-12-04
915,155,"Walker, Clay",The Chain Of Love,5:03,73.0,1,2000-04-15
918,247,"Wallflowers, The",Sleepwalker,3:29,73.0,1,2000-10-28
921,77,Westlife,Swear It Again,4:07,96.0,1,2000-04-01
924,186,"Williams, Robbie",Angels,3:56,85.0,1,1999-11-20
927,140,"Wills, Mark",Back At One,4:00,89.0,1,2000-01-15
930,257,"Worley, Darryl",When You Need My Love,3:35,98.0,1,2000-06-17
933,223,"Wright, Chely",It Was,3:51,86.0,1,2000-03-04
936,254,Yankee Grey,Another Nine Minutes,3:10,86.0,1,2000-04-29
939,277,"Yearwood, Trisha",Real Live Woman,3:55,85.0,1,2000-04-01
942,251,Ying Yang Twins,Whistle While You Twurk,4:19,95.0,1,2000-03-18
945,314,Zombie Nation,Kernkraft 400,3:30,99.0,1,2000-09-02
948,15,matchbox twenty,Bent,4:12,60.0,1,2000-04-29

In [108]:
cleandata.w ==3

0      False
3      False
6      False
9      False
12     False
       ...
936    False
939    False
942    False
945    False
948    False
Name: w, Length: 317, dtype: bool

In [110]:
cleandata[cleandata.w ==2]

Empty DataFrame
Columns: [ID, artist, track, time, rate, w, date]
Index: []

In [111]:
cleandata.w ==1

0      True
3      True
6      True
9      True
12     True
       ...
936    True
939    True
942    True
945    True
948    True
Name: w, Length: 317, dtype: bool

In [113]:
cleandata.loc[cleandata[cleandata.w ==1]['rate'].idxmax()]

ID                        248
artist                  Drama
track       Left, Right, Left
time                     3:37
rate                      100
w                           1
date      2000-02-12 00:00:00
Name: 258, dtype: object

In [115]:
cleandata.loc[cleandata[cleandata.w ==1]['rate'].idxmin()]

ID                          1
artist                Santana
track            Maria, Maria
time                     4:18
rate                       15
w                           1
date      2000-02-12 00:00:00
Name: 756, dtype: object

In [114]:
cleandata.query('ID == 248')

      ID artist              track  time   rate  w       date
258  248  Drama  Left, Right, Left  3:37  100.0  1 2000-02-12

In [116]:
cleandata.to_csv('cleandata', index = False)

In [117]:
os.getcwd()

'C:\\Users\\PRECIOUS\\Videos'