In [1]:
import pandas as pd
import numpy as np

In [14]:
a = np.array([[1,2,3,0],[4,5,6,0],[7,8,9,0]])
b = np.array(['A','B','C','D'])
c = np.array(['a','b','c'])

In [15]:
x = pd.DataFrame(a)

In [16]:
x

   0  1  2  3
0  1  2  3  0
1  4  5  6  0
2  7  8  9  0

In [17]:
x = pd.DataFrame(a, index = c, columns = b)

In [18]:
x

   A  B  C  D
a  1  2  3  0
b  4  5  6  0
c  7  8  9  0