In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.getcwd()

'C:\\Users\\KENUKON'

In [3]:
path = "\\Users\\KENUKON\\Videos"

In [4]:
os.chdir(path)

In [5]:
os.getcwd()

'C:\\Users\\KENUKON\\Videos'

In [6]:
os.mkdir('assets')

In [8]:
os.chdir("\\Users\\KENUKON\\Videos\\assets")

In [10]:
os.listdir()

['we.csv']

In [11]:
data = pd.read_csv('we.csv')

In [12]:
data

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
data.columns

Index(['year', 'artist.inverted', 'track', 'time', 'genre', 'date.entered',
       'date.peaked', 'x1st.week', 'x2nd.week', 'x3rd.week', 'x4th.week',
       'x5th.week', 'x6th.week', 'x7th.week', 'x8th.week', 'x9th.week',
       'x10th.week', 'x11th.week', 'x12th.week', 'x13th.week', 'x14th.week',
       'x15th.week', 'x16th.week', 'x17th.week', 'x18th.week', 'x19th.week',
       'x20th.week', 'x21st.week', 'x22nd.week', 'x23rd.week', 'x24th.week',
       'x25th.week', 'x26th.week', 'x27th.week', 'x28th.week', 'x29th.week',
       'x30th.week', 'x31st.week', 'x32nd.week', 'x33rd.week', 'x34th.week',
       'x35th.week', 'x36th.week', 'x37th.week', 'x38th.week', 'x39th.week',
       'x40th.week', 'x41st.week', 'x42nd.week', 'x43rd.week', 'x44th.week',
       'x45th.week', 'x46th.week', 'x47th.week', 'x48th.week', 'x49th.week',
       'x50th.week', 'x51st.week', 'x52nd.week', 'x53rd.week', 'x54th.week',
       'x55th.week', 'x56th.week', 'x57th.week', 'x58th.week', 'x59th.week',
       'x60th.week', 'x61st.week', 'x62nd.week', 'x63rd.week', 'x64th.week',
       'x65th.week', 'x66th.week', 'x67th.week', 'x68th.week', 'x69th.week',
       'x70th.week', 'x71st.week', 'x72nd.week', 'x73rd.week', 'x74th.week',
       'x75th.week', 'x76th.week'],
      dtype='object')

In [15]:
smallData = data[['artist.inverted', 'track', 'time', 'date.entered', 'x1st.week', 'x2nd.week', 'x3rd.week']]

In [16]:
smallData.columns = ['artist', 'track', 'time','date.entered', 'wk1', 'wk2', 'wk3']

In [17]:
smallData

,artist,track,time,date.entered,wk1,wk2,wk3
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,78,63.0,49.0
1,Santana,"Maria, Maria",4:18,2000-02-12,15,8.0,6.0
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,71,48.0,43.0
3,Madonna,Music,3:45,2000-08-12,41,23.0,18.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,57,47.0,45.0
...,...,...,...,...,...,...,...
312,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,98,NaN,NaN
313,"Smith, Will",Freakin' It,3:58,2000-02-12,99,99.0,99.0
314,Zombie Nation,Kernkraft 400,3:30,2000-09-02,99,99.0,NaN
315,"Eastsidaz, The",Got Beef,3:58,2000-07-01,99,99.0,NaN
316,Fragma,Toca's Miracle,3:22,2000-10-28,99,NaN,NaN

In [20]:
meltedData = smallData.melt(['artist', 'track', 'time','date.entered'],['wk1', 'wk2', 'wk3'], 'week', 'rate')

In [21]:
meltedData

,artist,track,time,date.entered,week,rate
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,wk1,78.0
1,Santana,"Maria, Maria",4:18,2000-02-12,wk1,15.0
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,wk1,71.0
3,Madonna,Music,3:45,2000-08-12,wk1,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,wk1,57.0
...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,wk3,NaN
947,"Smith, Will",Freakin' It,3:58,2000-02-12,wk3,99.0
948,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk3,NaN
949,"Eastsidaz, The",Got Beef,3:58,2000-07-01,wk3,NaN
950,Fragma,Toca's Miracle,3:22,2000-10-28,wk3,NaN

In [22]:
meltedData.head()

,artist,track,time,date.entered,week,rate
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,wk1,78.0
1,Santana,"Maria, Maria",4:18,2000-02-12,wk1,15.0
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,wk1,71.0
3,Madonna,Music,3:45,2000-08-12,wk1,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,wk1,57.0

In [35]:
meltedData['wk'] = meltedData['week'].str.slice(2)

In [37]:
meltedData['wk'] = meltedData['week'].apply(lambda x: int(x[2]))

In [41]:
meltedData.drop(['week'], axis = 1, inplace = True)

In [48]:
meltedData.columns = ['artist', 'track', 'time', 'date', 'rate', 'week']

In [49]:
meltedData

,artist,track,time,date,rate,week
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,78.0,1
1,Santana,"Maria, Maria",4:18,2000-02-12,15.0,1
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,71.0,1
3,Madonna,Music,3:45,2000-08-12,41.0,1
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,57.0,1
...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,NaN,3
947,"Smith, Will",Freakin' It,3:58,2000-02-12,99.0,3
948,Zombie Nation,Kernkraft 400,3:30,2000-09-02,NaN,3
949,"Eastsidaz, The",Got Beef,3:58,2000-07-01,NaN,3
950,Fragma,Toca's Miracle,3:22,2000-10-28,NaN,3

In [50]:
meltedData['date'] = pd.to_datetime(meltedData['date'])

In [51]:
meltedData

,artist,track,time,date,rate,week
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,78.0,1
1,Santana,"Maria, Maria",4:18,2000-02-12,15.0,1
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,71.0,1
3,Madonna,Music,3:45,2000-08-12,41.0,1
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,57.0,1
...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,NaN,3
947,"Smith, Will",Freakin' It,3:58,2000-02-12,99.0,3
948,Zombie Nation,Kernkraft 400,3:30,2000-09-02,NaN,3
949,"Eastsidaz, The",Got Beef,3:58,2000-07-01,NaN,3
950,Fragma,Toca's Miracle,3:22,2000-10-28,NaN,3

In [52]:
meltedData['date'][0] + pd.to_timedelta('7days')

Timestamp('2000-09-30 00:00:00')

In [56]:
meltedData['dt'] = meltedData['date'] + pd.to_timedelta('0day') * (meltedData['week'])

In [57]:
meltedData

,artist,track,time,date,rate,week,dt
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,78.0,1,2000-09-23
1,Santana,"Maria, Maria",4:18,2000-02-12,15.0,1,2000-02-12
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,71.0,1,1999-10-23
3,Madonna,Music,3:45,2000-08-12,41.0,1,2000-08-12
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,57.0,1,2000-08-05
...,...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,NaN,3,2000-08-05
947,"Smith, Will",Freakin' It,3:58,2000-02-12,99.0,3,2000-02-12
948,Zombie Nation,Kernkraft 400,3:30,2000-09-02,NaN,3,2000-09-02
949,"Eastsidaz, The",Got Beef,3:58,2000-07-01,NaN,3,2000-07-01
950,Fragma,Toca's Miracle,3:22,2000-10-28,NaN,3,2000-10-28

In [59]:
meltedData.drop(['date'], axis = 1, inplace = True)

KeyError: "['date'] not found in axis"

In [60]:
meltedData

,artist,track,time,rate,week,dt
0,Destiny's Child,Independent Women Part I,3:38,78.0,1,2000-09-23
1,Santana,"Maria, Maria",4:18,15.0,1,2000-02-12
2,Savage Garden,I Knew I Loved You,4:07,71.0,1,1999-10-23
3,Madonna,Music,3:45,41.0,1,2000-08-12
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,57.0,1,2000-08-05
...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,NaN,3,2000-08-05
947,"Smith, Will",Freakin' It,3:58,99.0,3,2000-02-12
948,Zombie Nation,Kernkraft 400,3:30,NaN,3,2000-09-02
949,"Eastsidaz, The",Got Beef,3:58,NaN,3,2000-07-01
950,Fragma,Toca's Miracle,3:22,NaN,3,2000-10-28

In [63]:
meltedData.columns = ['artist', 'track', 'time', 'rate', 'week', 'date']

In [64]:
meltedData

,artist,track,time,rate,week,date
0,Destiny's Child,Independent Women Part I,3:38,78.0,1,2000-09-23
1,Santana,"Maria, Maria",4:18,15.0,1,2000-02-12
2,Savage Garden,I Knew I Loved You,4:07,71.0,1,1999-10-23
3,Madonna,Music,3:45,41.0,1,2000-08-12
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,57.0,1,2000-08-05
...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,NaN,3,2000-08-05
947,"Smith, Will",Freakin' It,3:58,99.0,3,2000-02-12
948,Zombie Nation,Kernkraft 400,3:30,NaN,3,2000-09-02
949,"Eastsidaz, The",Got Beef,3:58,NaN,3,2000-07-01
950,Fragma,Toca's Miracle,3:22,NaN,3,2000-10-28

In [65]:
newData = meltedData

In [66]:
newData.columns

Index(['artist', 'track', 'time', 'rate', 'week', 'date'], dtype='object')

In [71]:
newData.sort_values(['artist', 'track', 'time'], inplace = True)

In [72]:
trackData = newData[['artist', 'track', 'time']]

In [75]:
trackData

              artist                                              track  time
246            2 Pac                Baby Don't Cry (Keep Ya Head Up II)  4:22
563            2 Pac                Baby Don't Cry (Keep Ya Head Up II)  4:22
880            2 Pac                Baby Don't Cry (Keep Ya Head Up II)  4:22
287          2Ge+her  The Hardest Part Of Breaking Up (Is Getting Ba...  3:15
604          2Ge+her  The Hardest Part Of Breaking Up (Is Getting Ba...  3:15
..               ...                                                ...   ...
631    Zombie Nation                                      Kernkraft 400  3:30
948    Zombie Nation                                      Kernkraft 400  3:30
15   matchbox twenty                                               Bent  4:12
332  matchbox twenty                                               Bent  4:12
649  matchbox twenty                                               Bent  4:12

[951 rows x 3 columns]

In [77]:
trackData.drop_duplicates(['artist', 'track', 'time'], inplace = True)

C:\Users\KENUKON\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [78]:
trackData

               artist                                              track  time
246             2 Pac                Baby Don't Cry (Keep Ya Head Up II)  4:22
287           2Ge+her  The Hardest Part Of Breaking Up (Is Getting Ba...  3:15
24       3 Doors Down                                         Kryptonite  3:53
193      3 Doors Down                                              Loser  4:24
69           504 Boyz                                      Wobble Wobble  3:35
..                ...                                                ...   ...
254       Yankee Grey                               Another Nine Minutes  3:10
277  Yearwood, Trisha                                    Real Live Woman  3:55
251   Ying Yang Twins                            Whistle While You Twurk  4:19
314     Zombie Nation                                      Kernkraft 400  3:30
15    matchbox twenty                                               Bent  4:12

[317 rows x 3 columns]

In [79]:
trackData.index.name = 'id'

In [80]:
trackData

               artist                                              track  time
id
246             2 Pac                Baby Don't Cry (Keep Ya Head Up II)  4:22
287           2Ge+her  The Hardest Part Of Breaking Up (Is Getting Ba...  3:15
24       3 Doors Down                                         Kryptonite  3:53
193      3 Doors Down                                              Loser  4:24
69           504 Boyz                                      Wobble Wobble  3:35
..                ...                                                ...   ...
254       Yankee Grey                               Another Nine Minutes  3:10
277  Yearwood, Trisha                                    Real Live Woman  3:55
251   Ying Yang Twins                            Whistle While You Twurk  4:19
314     Zombie Nation                                      Kernkraft 400  3:30
15    matchbox twenty                                               Bent  4:12

[317 rows x 3 columns]

In [81]:
trackDataid = trackData.reset_index()
trackDataid

,id,artist,track,time
0,246,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22
1,287,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15
2,24,3 Doors Down,Kryptonite,3:53
3,193,3 Doors Down,Loser,4:24
4,69,504 Boyz,Wobble Wobble,3:35
...,...,...,...,...
312,254,Yankee Grey,Another Nine Minutes,3:10
313,277,"Yearwood, Trisha",Real Live Woman,3:55
314,251,Ying Yang Twins,Whistle While You Twurk,4:19
315,314,Zombie Nation,Kernkraft 400,3:30
316,15,matchbox twenty,Bent,4:12

In [82]:
pd.merge(trackDataid, newData, on = ['artist', 'track', 'time'])

,id,artist,track,time,rate,week,date
0,246,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,87.0,1,2000-02-26
1,246,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,82.0,2,2000-02-26
2,246,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,72.0,3,2000-02-26
3,287,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,91.0,1,2000-09-02
4,287,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,87.0,2,2000-09-02
...,...,...,...,...,...,...,...
946,314,Zombie Nation,Kernkraft 400,3:30,99.0,2,2000-09-02
947,314,Zombie Nation,Kernkraft 400,3:30,NaN,3,2000-09-02
948,15,matchbox twenty,Bent,4:12,60.0,1,2000-04-29
949,15,matchbox twenty,Bent,4:12,37.0,2,2000-04-29
950,15,matchbox twenty,Bent,4:12,29.0,3,2000-04-29

In [83]:
cleanData = pd.merge(trackDataid, newData, on = ['artist', 'track', 'time'])

In [84]:
cleanData

,id,artist,track,time,rate,week,date
0,246,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,87.0,1,2000-02-26
1,246,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,82.0,2,2000-02-26
2,246,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,72.0,3,2000-02-26
3,287,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,91.0,1,2000-09-02
4,287,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,87.0,2,2000-09-02
...,...,...,...,...,...,...,...
946,314,Zombie Nation,Kernkraft 400,3:30,99.0,2,2000-09-02
947,314,Zombie Nation,Kernkraft 400,3:30,NaN,3,2000-09-02
948,15,matchbox twenty,Bent,4:12,60.0,1,2000-04-29
949,15,matchbox twenty,Bent,4:12,37.0,2,2000-04-29
950,15,matchbox twenty,Bent,4:12,29.0,3,2000-04-29

In [87]:
cleanData.drop_duplicates(['artist', 'track', 'time'], inplace = True)

In [88]:
cleanData

,id,artist,track,time,rate,week,date
0,246,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,87.0,1,2000-02-26
3,287,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,91.0,1,2000-09-02
6,24,3 Doors Down,Kryptonite,3:53,81.0,1,2000-04-08
9,193,3 Doors Down,Loser,4:24,76.0,1,2000-10-21
12,69,504 Boyz,Wobble Wobble,3:35,57.0,1,2000-04-15
...,...,...,...,...,...,...,...
936,254,Yankee Grey,Another Nine Minutes,3:10,86.0,1,2000-04-29
939,277,"Yearwood, Trisha",Real Live Woman,3:55,85.0,1,2000-04-01
942,251,Ying Yang Twins,Whistle While You Twurk,4:19,95.0,1,2000-03-18
945,314,Zombie Nation,Kernkraft 400,3:30,99.0,1,2000-09-02
948,15,matchbox twenty,Bent,4:12,60.0,1,2000-04-29

In [89]:
cleanData.tail(50)

,id,artist,track,time,rate,week,date
801,313,"Smith, Will",Freakin' It,3:58,99.0,1,2000-02-12
804,103,Son By Four,A Puro Dolor (Purest Of Pain),3:30,80.0,1,2000-04-08
807,50,Sonique,It Feels So Good,3:48,67.0,1,2000-01-22
810,85,SoulDecision,Faded,3:25,94.0,1,2000-07-08
813,63,"Spears, Britney",From The Bottom Of My Broken Heart,4:30,76.0,1,2000-01-29
816,93,"Spears, Britney",Lucky,3:23,61.0,1,2000-08-12
819,51,"Spears, Britney",Oops!.. I Did It Again,3:30,67.0,1,2000-04-22
822,291,"Spencer, Tracie",Still In My Heart,4:11,95.0,1,2000-03-04
825,215,Splender,I Think God Can Explain,3:55,71.0,1,2000-06-10
828,70,Sting,Desert Rose,3:52,98.0,1,2000-05-13
831,272,Stone Temple Pilots,Sour Girl,4:16,79.0,1,2000-07-08
834,196,"Stone, Angie",No More Rain (In This Cloud),4:42,86.0,1,1999-12-25
837,152,"Strait, George",Go On,3:48,71.0,1,2000-08-26
840,123,"Strait, George",The Best Day,3:24,73.0,1,2000-01-29
843,116,Sugar Ray,Falls Apart,4:15,70.0,1,2000-01-15
846,182,TLC,Dear Lie,4:36,63.0,1,2000-02-12
849,293,Tamar,If You Don't Wanna Love Me,4:02,98.0,1,2000-03-25
852,283,Tamia,Can't Go For That,3:38,90.0,1,2000-09-16
855,235,Third Eye Blind,Deep Inside Of You,4:10,80.0,1,2000-09-02
858,64,Third Eye Blind,Never Let You Go,3:57,65.0,1,2000-01-22
861,170,"Thomas, Carl",Emotional,4:31,77.0,1,2000-11-25
864,79,"Thomas, Carl",I Wish,3:50,75.0,1,2000-03-25
867,276,"Thomas, Carl",Summer Rain,4:57,82.0,1,2000-09-23
870,158,"Tippin, Aaron",Kiss This,2:53,74.0,1,2000-08-26
873,78,Train,Meet Virginia,3:55,76.0,1,1999-10-09
876,278,Trick Daddy,Shut Up,4:17,99.0,1,2000-05-20
879,302,Trina,Pull Over,2:58,97.0,1,2000-09-09
882,108,"Tritt, Travis",Best Of Intentions,4:15,97.0,1,2000-08-19
885,309,Tuesday,I Know,4:06,98.0,1,2000-12-30
888,181,"Urban, Keith",Your Everything,4:10,81.0,1,2000-07-15
891,211,Usher,Pop Ya Collar,3:36,68.0,1,2000-11-04
894,165,"Vassar, Phil",Carlene,4:07,75.0,1,2000-03-04
897,138,"Vassar, Phil",Just Another Day In Paradise,3:54,81.0,1,2000-09-30
900,12,Vertical Horizon,Everything You Want,4:01,70.0,1,2000-01-22
903,88,Vertical Horizon,You're A God,3:45,64.0,1,2000-08-26
906,147,Vitamin C,Graduation (Friends Forever),4:23,81.0,1,2000-04-15
909,167,Vitamin C,The Itch,3:30,86.0,1,2000-12-02
912,252,"Walker, Clay","Live, Laugh, Love",4:06,95.0,1,1999-12-04
915,155,"Walker, Clay",The Chain Of Love,5:03,73.0,1,2000-04-15
918,247,"Wallflowers, The",Sleepwalker,3:29,73.0,1,2000-10-28
921,77,Westlife,Swear It Again,4:07,96.0,1,2000-04-01
924,186,"Williams, Robbie",Angels,3:56,85.0,1,1999-11-20
927,140,"Wills, Mark",Back At One,4:00,89.0,1,2000-01-15
930,257,"Worley, Darryl",When You Need My Love,3:35,98.0,1,2000-06-17
933,223,"Wright, Chely",It Was,3:51,86.0,1,2000-03-04
936,254,Yankee Grey,Another Nine Minutes,3:10,86.0,1,2000-04-29
939,277,"Yearwood, Trisha",Real Live Woman,3:55,85.0,1,2000-04-01
942,251,Ying Yang Twins,Whistle While You Twurk,4:19,95.0,1,2000-03-18
945,314,Zombie Nation,Kernkraft 400,3:30,99.0,1,2000-09-02
948,15,matchbox twenty,Bent,4:12,60.0,1,2000-04-29

In [91]:
cleanData.loc[cleanData[cleanData.week == 1]['rate'].idxmax()]

id                        248
artist                  Drama
track       Left, Right, Left
time                     3:37
rate                      100
week                        1
date      2000-02-12 00:00:00
Name: 258, dtype: object

In [95]:
cleanData.query('id == 248')

      id artist              track  time   rate  week       date
258  248  Drama  Left, Right, Left  3:37  100.0     1 2000-02-12

In [97]:
cleanData.to_csv("cleanData.csv", index = False)