In [163]:
import pandas as pd
import os

In [164]:
path = 'C:\\Users\\PRECIOUS\\Desktop'

In [165]:
os.chdir(path)

In [166]:
os.listdir()

['all_student.csv',
 'all_students.csv',
 'all_students_doc.csv',
 'desktop.ini',
 'distribution',
 'DOC.PNG',
 'Downloads - Shortcut.lnk',
 'exclusion_Letter',
 'exclusion_Letter (1)',
 'ml_class_1.7.2020.ipynb',
 'Old Files',
 'Picture 255.jpg',
 'Picture 256.jpg',
 'Picture 257.jpg',
 'Picture 259.jpg',
 'praedwin',
 'Sales_Data',
 'sp.jpg',
 'universal-2-1-0',
 'universal-2-1-0.zip',
 'Visual Studio Code.lnk',
 'WAEC.pdf']

In [167]:
data = pd.read_csv('all_students_doc.csv')

In [168]:
data

   | id | First Name | Last Name | Age |  State  |    Department    | Level | Gender |
0   +----+------------+-----------+-----+---------...
1   | 1  |  Micheal   |    Uche   |  22 |   Abia  ...
2   | 2  |   Ishola   |   Adams   |  18 |   Osun  ...
3   | 3  |   Grace    |   James   |  20 |  Lagos  ...
4   | 4  |   Adamu    |    Bala   |  22 |   Kano  ...
5   | 5  |  Gabriel   |   Ezikel  |  20 |   Abia  ...
6   | 6  |   Ngozie   |   Bright  |  21 | Anambra ...
7   | 7  |    Jude    |  Ogunowo  |  20 |  Lagos  ...
8   | 8  |    Mery    |   Okezie  |  21 |   Abia  ...
9   | 9  |  Jinjiri   |   Sadan   |  20 |   Kano  ...
10  | 10 |   Aisha    |   Oseni   |  23 |  Jigawa ...
11  +----+------------+-----------+-----+---------...

In [169]:
data.columns

Index(['| id | First Name | Last Name | Age |  State  |    Department    | Level | Gender |'], dtype='object')

In [170]:
data.columns = ['Data']

In [171]:
data.drop(0, inplace = True)

In [172]:
data = cdata

In [173]:
cleanData = cdata

In [174]:
cdata['Serial No'] = cdata['Data'].apply(lambda x: x.split(' | ')[0])
cdata['First Name'] = cdata['Data'].apply(lambda x: x.split(' | ')[1])
cdata['Other Name'] = cdata['Data'].apply(lambda x: x.split(' | ')[2])
cdata['Age'] = cdata['Data'].apply(lambda x: x.split(' | ')[3])
cdata['State'] = cdata['Data'].apply(lambda x: x.split(' | ')[4])

KeyError: 'Data'

In [ ]:
cdata.drop('Data', inplace = True, axis = 1)

In [ ]:
cdata['Age'] = cdata['Age'].apply(lambda x: int(x[2]))

In [175]:
cdata

   Serial No  First Name Other Name  Age    State
1       | 1    Micheal       Uche     22    Abia
2       | 2     Ishola      Adams     18    Osun
3       | 3     Grace       James     20   Lagos
4       | 4     Adamu        Bala     22    Kano
5       | 5    Gabriel      Ezikel    20    Abia
6       | 6     Ngozie      Bright    21  Anambra
7       | 7      Jude      Ogunowo    20   Lagos
8       | 8      Mery       Okezie    21    Abia
9       | 9    Jinjiri      Sadan     20    Kano
10      | 10    Aisha       Oseni     23   Jigawa

In [176]:
cleanData.drop('Data', axis = 1, inplace = True)

KeyError: "['Data'] not found in axis"

In [177]:
cleanData['Age'] = pd.to_numeric(cleanData['Age'])

In [178]:
cleanData

   Serial No  First Name Other Name  Age    State
1       | 1    Micheal       Uche     22    Abia
2       | 2     Ishola      Adams     18    Osun
3       | 3     Grace       James     20   Lagos
4       | 4     Adamu        Bala     22    Kano
5       | 5    Gabriel      Ezikel    20    Abia
6       | 6     Ngozie      Bright    21  Anambra
7       | 7      Jude      Ogunowo    20   Lagos
8       | 8      Mery       Okezie    21    Abia
9       | 9    Jinjiri      Sadan     20    Kano
10      | 10    Aisha       Oseni     23   Jigawa

In [179]:
ass1 = cleanData.query('Age < 21')

In [191]:
cleanData['State'] != 'Abia'

1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
Name: State, dtype: bool

In [181]:
cle

   Serial No  First Name Other Name  Age    State
1       | 1    Micheal       Uche     22    Abia
2       | 2     Ishola      Adams     18    Osun
3       | 3     Grace       James     20   Lagos
4       | 4     Adamu        Bala     22    Kano
5       | 5    Gabriel      Ezikel    20    Abia
6       | 6     Ngozie      Bright    21  Anambra
7       | 7      Jude      Ogunowo    20   Lagos
8       | 8      Mery       Okezie    21    Abia
9       | 9    Jinjiri      Sadan     20    Kano
10      | 10    Aisha       Oseni     23   Jigawa

In [ ]:
ass2