In [4]:
import pandas as pd
import numpy as np

In [5]:
# Pandas has two data types, dataframe and series

In [9]:
z = pd.DataFrame(data = np.random.randn(1000), index = pd.date_range('22-06-2020', periods = 1000))
y = pd.Series(data = np.random.randn(1000), index = pd.date_range('22-06-2020', periods = 1000))

In [11]:
z

                   0
2020-06-22  0.589275
2020-06-23 -0.747192
2020-06-24 -0.323826
2020-06-25  0.233619
2020-06-26 -0.176589
...              ...
2023-03-14  0.031691
2023-03-15 -1.699925
2023-03-16  0.031643
2023-03-17  0.428737
2023-03-18  0.352292

[1000 rows x 1 columns]

In [13]:
type(z)

pandas.core.frame.DataFrame

In [14]:
type(y)

pandas.core.series.Series