In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import glob
%matplotlib inline

In [2]:
os.getcwd(
)

'C:\\Users\\PRECIOUS'

In [4]:
os.chdir('C:\\Users\\PRECIOUS\\Desktop\\praedwin')

In [5]:
os.getcwd(
)

'C:\\Users\\PRECIOUS\\Desktop\\praedwin'

In [7]:
data= pd.read_csv('we.csv')

In [8]:
data

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data.columns

Index(['year', 'artist.inverted', 'track', 'time', 'genre', 'date.entered',
       'date.peaked', 'x1st.week', 'x2nd.week', 'x3rd.week', 'x4th.week',
       'x5th.week', 'x6th.week', 'x7th.week', 'x8th.week', 'x9th.week',
       'x10th.week', 'x11th.week', 'x12th.week', 'x13th.week', 'x14th.week',
       'x15th.week', 'x16th.week', 'x17th.week', 'x18th.week', 'x19th.week',
       'x20th.week', 'x21st.week', 'x22nd.week', 'x23rd.week', 'x24th.week',
       'x25th.week', 'x26th.week', 'x27th.week', 'x28th.week', 'x29th.week',
       'x30th.week', 'x31st.week', 'x32nd.week', 'x33rd.week', 'x34th.week',
       'x35th.week', 'x36th.week', 'x37th.week', 'x38th.week', 'x39th.week',
       'x40th.week', 'x41st.week', 'x42nd.week', 'x43rd.week', 'x44th.week',
       'x45th.week', 'x46th.week', 'x47th.week', 'x48th.week', 'x49th.week',
       'x50th.week', 'x51st.week', 'x52nd.week', 'x53rd.week', 'x54th.week',
       'x55th.week', 'x56th.week', 'x57th.week', 'x58th.week', 'x59th.week',
       'x60th.week', 'x61st.week', 'x62nd.week', 'x63rd.week', 'x64th.week',
       'x65th.week', 'x66th.week', 'x67th.week', 'x68th.week', 'x69th.week',
       'x70th.week', 'x71st.week', 'x72nd.week', 'x73rd.week', 'x74th.week',
       'x75th.week', 'x76th.week'],
      dtype='object')

In [21]:
sdata=data[['artist.inverted', 'track', 'time', 'date.entered',
       'x1st.week', 'x2nd.week', 'x3rd.week']]

In [22]:
sdata

,artist.inverted,track,time,date.entered,x1st.week,x2nd.week,x3rd.week
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,78,63.0,49.0
1,Santana,"Maria, Maria",4:18,2000-02-12,15,8.0,6.0
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,71,48.0,43.0
3,Madonna,Music,3:45,2000-08-12,41,23.0,18.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,57,47.0,45.0
...,...,...,...,...,...,...,...
312,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,98,NaN,NaN
313,"Smith, Will",Freakin' It,3:58,2000-02-12,99,99.0,99.0
314,Zombie Nation,Kernkraft 400,3:30,2000-09-02,99,99.0,NaN
315,"Eastsidaz, The",Got Beef,3:58,2000-07-01,99,99.0,NaN
316,Fragma,Toca's Miracle,3:22,2000-10-28,99,NaN,NaN

In [26]:
sdata.columns=['artist', 'track', 'time', 'date.entered','wk1', 'wk2', 'wk3']

In [27]:
sdata

,artist,track,time,date.entered,wk1,wk2,wk3
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,78,63.0,49.0
1,Santana,"Maria, Maria",4:18,2000-02-12,15,8.0,6.0
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,71,48.0,43.0
3,Madonna,Music,3:45,2000-08-12,41,23.0,18.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,57,47.0,45.0
...,...,...,...,...,...,...,...
312,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,98,NaN,NaN
313,"Smith, Will",Freakin' It,3:58,2000-02-12,99,99.0,99.0
314,Zombie Nation,Kernkraft 400,3:30,2000-09-02,99,99.0,NaN
315,"Eastsidaz, The",Got Beef,3:58,2000-07-01,99,99.0,NaN
316,Fragma,Toca's Miracle,3:22,2000-10-28,99,NaN,NaN

In [28]:
smelt =sdata.melt(['artist', 'track', 'time', 'date.entered'],['wk1', 'wk2', 'wk3'],'wks','rate')

In [29]:
smelt

,artist,track,time,date.entered,wks,rate
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,wk1,78.0
1,Santana,"Maria, Maria",4:18,2000-02-12,wk1,15.0
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,wk1,71.0
3,Madonna,Music,3:45,2000-08-12,wk1,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,wk1,57.0
...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,wk3,NaN
947,"Smith, Will",Freakin' It,3:58,2000-02-12,wk3,99.0
948,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk3,NaN
949,"Eastsidaz, The",Got Beef,3:58,2000-07-01,wk3,NaN
950,Fragma,Toca's Miracle,3:22,2000-10-28,wk3,NaN

In [35]:
smelt['w'] = smelt['wks'].apply(lambda x : int(x[2]))

In [36]:
smelt

,artist,track,time,date.entered,wks,rate,w
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,wk1,78.0,1
1,Santana,"Maria, Maria",4:18,2000-02-12,wk1,15.0,1
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,wk1,71.0,1
3,Madonna,Music,3:45,2000-08-12,wk1,41.0,1
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,wk1,57.0,1
...,...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,wk3,NaN,3
947,"Smith, Will",Freakin' It,3:58,2000-02-12,wk3,99.0,3
948,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk3,NaN,3
949,"Eastsidaz, The",Got Beef,3:58,2000-07-01,wk3,NaN,3
950,Fragma,Toca's Miracle,3:22,2000-10-28,wk3,NaN,3

In [38]:
smelt.drop(['wks'], axis=1, inplace=True)

smelt

In [39]:
smelt

,artist,track,time,date.entered,rate,w
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,78.0,1
1,Santana,"Maria, Maria",4:18,2000-02-12,15.0,1
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,71.0,1
3,Madonna,Music,3:45,2000-08-12,41.0,1
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,57.0,1
...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,NaN,3
947,"Smith, Will",Freakin' It,3:58,2000-02-12,99.0,3
948,Zombie Nation,Kernkraft 400,3:30,2000-09-02,NaN,3
949,"Eastsidaz, The",Got Beef,3:58,2000-07-01,NaN,3
950,Fragma,Toca's Miracle,3:22,2000-10-28,NaN,3

In [41]:
smelt['date.entered'] = pd.to_datetime(smelt['date.entered'])

In [42]:
smelt

,artist,track,time,date.entered,rate,w
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,78.0,1
1,Santana,"Maria, Maria",4:18,2000-02-12,15.0,1
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,71.0,1
3,Madonna,Music,3:45,2000-08-12,41.0,1
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,57.0,1
...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,NaN,3
947,"Smith, Will",Freakin' It,3:58,2000-02-12,99.0,3
948,Zombie Nation,Kernkraft 400,3:30,2000-09-02,NaN,3
949,"Eastsidaz, The",Got Beef,3:58,2000-07-01,NaN,3
950,Fragma,Toca's Miracle,3:22,2000-10-28,NaN,3

In [44]:
smelt['date.entered'][0] + pd.to_timedelta('7days')

Timestamp('2000-09-30 00:00:00')

In [45]:
smelt

,artist,track,time,date.entered,rate,w
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,78.0,1
1,Santana,"Maria, Maria",4:18,2000-02-12,15.0,1
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,71.0,1
3,Madonna,Music,3:45,2000-08-12,41.0,1
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,57.0,1
...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,NaN,3
947,"Smith, Will",Freakin' It,3:58,2000-02-12,99.0,3
948,Zombie Nation,Kernkraft 400,3:30,2000-09-02,NaN,3
949,"Eastsidaz, The",Got Beef,3:58,2000-07-01,NaN,3
950,Fragma,Toca's Miracle,3:22,2000-10-28,NaN,3

In [48]:
smelt['date']=smelt['date.entered'][0]+pd.to_timedelta('0days')*(smelt['w'])

In [49]:
smelt

,artist,track,time,date.entered,rate,w,date
0,Destiny's Child,Independent Women Part I,3:38,2000-09-23,78.0,1,2000-09-23
1,Santana,"Maria, Maria",4:18,2000-02-12,15.0,1,2000-09-23
2,Savage Garden,I Knew I Loved You,4:07,1999-10-23,71.0,1,2000-09-23
3,Madonna,Music,3:45,2000-08-12,41.0,1,2000-09-23
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,2000-08-05,57.0,1,2000-09-23
...,...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,NaN,3,2000-09-23
947,"Smith, Will",Freakin' It,3:58,2000-02-12,99.0,3,2000-09-23
948,Zombie Nation,Kernkraft 400,3:30,2000-09-02,NaN,3,2000-09-23
949,"Eastsidaz, The",Got Beef,3:58,2000-07-01,NaN,3,2000-09-23
950,Fragma,Toca's Miracle,3:22,2000-10-28,NaN,3,2000-09-23

In [52]:
smelt.drop(['date.entered'], axis = 1, inplace = True)

smelt

In [53]:
smelt

,artist,track,time,rate,w,date
0,Destiny's Child,Independent Women Part I,3:38,78.0,1,2000-09-23
1,Santana,"Maria, Maria",4:18,15.0,1,2000-09-23
2,Savage Garden,I Knew I Loved You,4:07,71.0,1,2000-09-23
3,Madonna,Music,3:45,41.0,1,2000-09-23
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,57.0,1,2000-09-23
...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,NaN,3,2000-09-23
947,"Smith, Will",Freakin' It,3:58,99.0,3,2000-09-23
948,Zombie Nation,Kernkraft 400,3:30,NaN,3,2000-09-23
949,"Eastsidaz, The",Got Beef,3:58,NaN,3,2000-09-23
950,Fragma,Toca's Miracle,3:22,NaN,3,2000-09-23

In [54]:
newdata = smelt

In [55]:
newdata

,artist,track,time,rate,w,date
0,Destiny's Child,Independent Women Part I,3:38,78.0,1,2000-09-23
1,Santana,"Maria, Maria",4:18,15.0,1,2000-09-23
2,Savage Garden,I Knew I Loved You,4:07,71.0,1,2000-09-23
3,Madonna,Music,3:45,41.0,1,2000-09-23
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,57.0,1,2000-09-23
...,...,...,...,...,...,...
946,Ghostface Killah,Cherchez LaGhost,3:04,NaN,3,2000-09-23
947,"Smith, Will",Freakin' It,3:58,99.0,3,2000-09-23
948,Zombie Nation,Kernkraft 400,3:30,NaN,3,2000-09-23
949,"Eastsidaz, The",Got Beef,3:58,NaN,3,2000-09-23
950,Fragma,Toca's Miracle,3:22,NaN,3,2000-09-23

In [57]:
newdata.columns

Index(['artist', 'track', 'time', 'rate', 'w', 'date'], dtype='object')

In [59]:
newdata.sort_values(['artist', 'track', 'time', 'rate'], inplace=True)

In [60]:
newdata

,artist,track,time,rate,w,date
880,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,72.0,3,2000-09-23
563,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,82.0,2,2000-09-23
246,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,87.0,1,2000-09-23
604,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,87.0,2,2000-09-23
287,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,91.0,1,2000-09-23
...,...,...,...,...,...,...
631,Zombie Nation,Kernkraft 400,3:30,99.0,2,2000-09-23
948,Zombie Nation,Kernkraft 400,3:30,NaN,3,2000-09-23
649,matchbox twenty,Bent,4:12,29.0,3,2000-09-23
332,matchbox twenty,Bent,4:12,37.0,2,2000-09-23
15,matchbox twenty,Bent,4:12,60.0,1,2000-09-23

In [61]:
tracedata = newdata[['artist', 'track','time']]

In [62]:
tracedata

              artist                                              track  time
880            2 Pac                Baby Don't Cry (Keep Ya Head Up II)  4:22
563            2 Pac                Baby Don't Cry (Keep Ya Head Up II)  4:22
246            2 Pac                Baby Don't Cry (Keep Ya Head Up II)  4:22
604          2Ge+her  The Hardest Part Of Breaking Up (Is Getting Ba...  3:15
287          2Ge+her  The Hardest Part Of Breaking Up (Is Getting Ba...  3:15
..               ...                                                ...   ...
631    Zombie Nation                                      Kernkraft 400  3:30
948    Zombie Nation                                      Kernkraft 400  3:30
649  matchbox twenty                                               Bent  4:12
332  matchbox twenty                                               Bent  4:12
15   matchbox twenty                                               Bent  4:12

[951 rows x 3 columns]

In [65]:
tracedata.drop_duplicates(['artist', 'track', 'time'], inplace = True)

C:\Users\PRECIOUS\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [66]:
tracedata

               artist                                              track  time
880             2 Pac                Baby Don't Cry (Keep Ya Head Up II)  4:22
604           2Ge+her  The Hardest Part Of Breaking Up (Is Getting Ba...  3:15
658      3 Doors Down                                         Kryptonite  3:53
827      3 Doors Down                                              Loser  4:24
703          504 Boyz                                      Wobble Wobble  3:35
..                ...                                                ...   ...
888       Yankee Grey                               Another Nine Minutes  3:10
594  Yearwood, Trisha                                    Real Live Woman  3:55
885   Ying Yang Twins                            Whistle While You Twurk  4:19
314     Zombie Nation                                      Kernkraft 400  3:30
649   matchbox twenty                                               Bent  4:12

[317 rows x 3 columns]

In [67]:
tracedata.head(20)

,artist,track,time
880,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22
604,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15
658,3 Doors Down,Kryptonite,3:53
827,3 Doors Down,Loser,4:24
703,504 Boyz,Wobble Wobble,3:35
656,98Ą,Give Me Just One Night (Una Noche),3:24
938,A*Teens,Dancing Queen,3:44
769,Aaliyah,I Don't Wanna,4:15
648,Aaliyah,Try Again,4:03
834,"Adams, Yolanda",Open My Heart,5:30
861,"Adkins, Trace",More,3:05
638,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38
660,"Aguilera, Christina",I Turn To You,4:00
645,"Aguilera, Christina",What A Girl Wants,3:18
743,Alice Deejay,Better Off Alone,6:50
902,"Allan, Gary",Smoke Rings In The Dark,4:18
791,Amber,Sexual (Li Da Di),4:38
301,Anastacia,I'm Outta Love,4:01
555,"Anthony, Marc",My Baby You,3:59
655,"Anthony, Marc",You Sang To Me,3:50