In [1]:
import pandas as pd
import numpy as np

In [4]:
arr1 = np.array([[2,4,5,6,1],[7,3,9,np.nan,3],[3,np.nan,4,np.nan,np.nan],[np.nan,3,2,1,7]])
arr2 = np.array(['A','B','C','D'])
arr3 = np.array(['U','V','W','X','Y'])

In [6]:
dtf = pd.DataFrame(data = arr1, index = arr2, columns = arr3)
dtf

     U    V    W    X    Y
A  2.0  4.0  5.0  6.0  1.0
B  7.0  3.0  9.0  NaN  3.0
C  3.0  NaN  4.0  NaN  NaN
D  NaN  3.0  2.0  1.0  7.0

In [18]:
dtf.loc['B'].mean()

5.5