In [2]:
import pandas as pd
import os

In [3]:
path = 'C:\\Users\\PRECIOUS\\Desktop'

In [4]:
os.chdir(path)

In [5]:
os.listdir()

['all_student.csv',
 'all_students.csv',
 'all_students_doc.csv',
 'desktop.ini',
 'distribution',
 'DOC.PNG',
 'Downloads - Shortcut.lnk',
 'exclusion_Letter',
 'exclusion_Letter (1)',
 'ml_class_1.7.2020.ipynb',
 'Old Files',
 'Picture 255.jpg',
 'Picture 256.jpg',
 'Picture 257.jpg',
 'Picture 259.jpg',
 'praedwin',
 'Sales_Data',
 'sp.jpg',
 'universal-2-1-0',
 'universal-2-1-0.zip',
 'Visual Studio Code.lnk',
 'WAEC.pdf']

In [6]:
data = pd.read_csv('all_students_doc.csv')

In [7]:
data

   | id | First Name | Last Name | Age |  State  |    Department    | Level | Gender |
0   +----+------------+-----------+-----+---------...
1   | 1  |  Micheal   |    Uche   |  22 |   Abia  ...
2   | 2  |   Ishola   |   Adams   |  18 |   Osun  ...
3   | 3  |   Grace    |   James   |  20 |  Lagos  ...
4   | 4  |   Adamu    |    Bala   |  22 |   Kano  ...
5   | 5  |  Gabriel   |   Ezikel  |  20 |   Abia  ...
6   | 6  |   Ngozie   |   Bright  |  21 | Anambra ...
7   | 7  |    Jude    |  Ogunowo  |  20 |  Lagos  ...
8   | 8  |    Mery    |   Okezie  |  21 |   Abia  ...
9   | 9  |  Jinjiri   |   Sadan   |  20 |   Kano  ...
10  | 10 |   Aisha    |   Oseni   |  23 |  Jigawa ...
11  +----+------------+-----------+-----+---------...

In [8]:
data.columns

Index(['| id | First Name | Last Name | Age |  State  |    Department    | Level | Gender |'], dtype='object')

In [11]:
data.columns = ['Data']

In [16]:
data.drop(11, inplace = True)

In [19]:
cdata = data

In [56]:
cdata['Age'] = cdata['Data'].apply(lambda x: x.split(' | ')[3])

KeyError: 'Data'

In [28]:
cdata.drop('Data', inplace = True, axis = 1)

In [54]:
cdata['Age'] = cdata['Age'].apply(lambda x: int(x[2]))

TypeError: 'int' object is not subscriptable

In [55]:
cdata

   Serial No        Name Other Name  Age
1       | 1    Micheal       Uche      2
2       | 2     Ishola      Adams      8
3       | 3     Grace       James      0
4       | 4     Adamu        Bala      2
5       | 5    Gabriel      Ezikel     0
6       | 6     Ngozie      Bright     1
7       | 7      Jude      Ogunowo     0
8       | 8      Mery       Okezie     1
9       | 9    Jinjiri      Sadan      0
10      | 10    Aisha       Oseni      3