In [1]:
import pandas as pd
import numpy as np

In [5]:
arr1 = np.random.randn(3,4)
arr2 = np.array(['A','B','C'])
arr3 = np.array(['W','X','Y','Z'])

In [6]:
df = pd.DataFrame(data = arr1, index = arr2, columns = arr3)

In [7]:
df

          W         X         Y         Z
A -0.203418 -2.066101 -0.084328  0.688451
B -0.209578 -0.702794  0.718812 -0.447426
C -0.418740 -0.351658 -0.189521  0.058696

In [8]:
# Applying the index variable
# LOC = Location
df.iloc[0]

W   -0.203418
X   -2.066101
Y   -0.084328
Z    0.688451
Name: A, dtype: float64

In [10]:
# Applying the string variable
df.loc['A']

W   -0.203418
X   -2.066101
Y   -0.084328
Z    0.688451
Name: A, dtype: float64